@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


$primary-color: #2A324B;
$bg-color: #E1E5EE;
$white: #ffffff;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}

button {
  color: $white;
  background-color: $primary-color;
  width: 10rem;
  height: 4rem;
  font-size: large;
  font-weight: bolder;
  margin-right: 10px;

  // Nesting for #knpSHCMS
  &#knpSHCMS {
    width: 16rem;
  }
}

h2 {
  text-transform: uppercase;
  padding-left: 5rem;
  margin: 0;
  padding-top: 60px;
}

section {
  border-width: 7px 0.01px 0.01px 0.01px;
  background-color: $white;
}

a {
  color: $primary-color;
}

p {
  padding-left: 5rem;
  padding-right: 10rem;
  width: 60rem;
}

main {
  margin: 14rem;
  width: 65rem;
}

.active {
  background-color: $white;
  border: none;
  color: $primary-color;
}

ul {
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 7rem;
}
